<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/admin"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-users"></i>USERS</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-user-circle-o"></i><a href='/admin/users'>Users List</a></li>
                        <li><i class="menu-icon fa fa-star"></i><a href="#">Users Review</a></li>
                    </ul>
                </li>
                  <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-first-order"></i>ORDERS</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="/admin/view-order">All orders</a></li>
                    </ul>
                </li>
                 <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-product-hunt"></i>PRODUCTS</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/add-product'>Add products</a></li>
                        <li><i class="fa fa-bars"></i><a href="/admin/view-product">View all Products</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-product-hunt"></i>CATEGORY</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/add-category'>Add Category </a></li>
                        <li><i class="fa fa-bars"></i><a href='/admin/view-category'>View Category </a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-product-hunt"></i>SUB CATEGORY</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/add-subcategory'>Add SubCategory </a></li>
                        <li><i class="fa fa-bars"></i><a href='/admin/view-subCategory'>View SubCategory</a></li>
                    </ul>
                </li>
               
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-product-hunt"></i>BANNER</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/addBanner'>Add Banner</a></li>
                        <li><i class="fa fa-bars"></i><a href='/admin/banners'>Banner management</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-ticket"></i>COUPONS</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href='/admin/addCoupon'>Add Coupon</a></li>
                        <li><i class="fa fa-bars"></i><a href='/admin/coupons'>View Coupons</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-user"></i>ACCOUNT</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-sign-out"></i><a href="/admin/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</aside>
    
<form class="form-horizontal" action="/admin/addBanner" method="post" enctype="multipart/form-data">
<fieldset>

<legend style="text-align: center; padding-top: 80px;">ADD BANNER</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">BANNER NAME</label>  
  <div class="col-md-4">
  <input id="product_id" name="banner_name" placeholder="BANNER NAME" class="form-control input-md" required="" type="text">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_description">BANNER DESCRIPTION</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="product_description" name="banner_description"></textarea>
  </div>
</div>

<div class="row p-5">
  <div class="form-group">
    <input type="file" class="form-control-file" name="uploaded_file" required multiple />
  </div>
</div>

<div class="form-group" style="text-align: center;">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button type="submit" id="singlebutton" class="btn btn-dark">ADD BANNER</button>
  </div>
  </div>
</fieldset>
</form>
