    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <h1 class="navbar-brand">VIETNAM</h1>
                </div>
        </header>
        <!-- /#header -->                            