<div id="preloder">
<div class="loader"></div>
</div>
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                    data-setbg="https://lp2.hm.com/hmgoepprod?set=width[1200],quality[80],options[limit]&source=url[https://www2.hm.com/content/dam/ladies_s06/september_2022/9626a/9626A-CPD1.jpg]&scale=width[global.width],height[15000],options[global.options]&sink=format[jpg],quality[global.quality]">
                    <div class="categories__text">
                        <h1>Ladies fashion</h1>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="">
                            <div class="categories__text">
                                <h1>Men’s</h1>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg"
                            data-setbg="https://lp2.hm.com/hmgoepprod?set=width[1920],quality[80],options[limit]&source=url[https://www2.hm.com/content/dam/h-m-magazine-2022/august_2022/3186/3086-Editorial-Lookbook-Magazine-Image-7.jpg]&scale=width[global.width],height[15000],options[global.options]&sink=format[jpg],quality[global.quality]">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg"
                            data-setbg="https://lp2.hm.com/hmgoepprod?set=width[1200],quality[80],options[limit]&source=url[https://www2.hm.com/content/dam/divided_s06/july_2022/5016c/5016C-CPD-1.jpg]&scale=width[global.width],height[15000],options[global.options]&sink=format[jpg],quality[global.quality]">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="">
                            <div class="categories__text">
                                <h1>Divided</h1>
                                <p></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner set-bg"
    data-setbg="https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/hm-magazine-2019/experts-corner/19_41_A_Beauty_Blue_0.jpg]&scale=size[1200]&sink=format[jpeg],quality[80]   ">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="https://www2.hm.com/content/dam/sustainability-site/lets-be-for-all/9501-CPD-06_16x9-lets-be-for-all-1.jpg"
                        alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Discount</span>
                        <h2>Summer 2022</h2>
                        <h5><span>Sale</span> 50%</h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="/coming-soon">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg"
                    data-setbg="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F6d%2F26%2F6d2693d64ac4838f5f442eca42637d639bd91d17.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg"
                    data-setbg="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F8d%2Fa8%2F8da87f8f37c33798ef9a589c91d6af4eb20e5d37.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg"
                    data-setbg="https://lp2.hm.com/hmgoepprod?set=source[/8a/9f/8a9ffe562ab7ec52ed25afa8f5946d91f0413053.jpg],origin[dam],category[],type[LOOKBOOK],res[y],hmver[1]&call=url[file:/product/main]">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg"
                    data-setbg="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F3d%2Fd6%2F3dd60c9c5e97ef23e5218be5a8710568f94e4800.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg"
                    data-setbg="https://lp2.hm.com/hmgoepprod?set=source[/e7/97/e797078ba2b8b1edb18001611ea76cc429c561e9.jpg],origin[dam],category[],type[LOOKBOOK],res[y],hmver[1]&call=url[file:/product/main]">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg"
                    data-setbg="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F77%2F01%2F7701fabd435a08ce23bdb68540d5555123160ae9.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <h2>VIETNAM</h2>
                    </div>
                    <p><small>The content of this site is copyright-protected and is the property of VIETNAM Hennes &
                            Mauritz AB. VIETNAM's business concept is to offer fashion and quality at the best price in
                            a sustainable way. VIETNAM has since it was founded in 1947 grown into one of the world's
                            leading fashion companies.</p>
                </div>
                </small>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>SHOP</h6>
                    <ul>
                        {{#each categories}}
                        <li><a href='/{{this.category_name}}'>{{this.category_name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        {{#if user}}
                        <li><a href="/myAccount">My Account</a></li>
                        <li><a href="/orderDetails">Orders Tracking</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="/wishlist">Wishlist</a></li>
                        {{else}}
                        <li><a href="/login">My Account</a></li>
                        <li><a href="/login">Orders Tracking</a></li>
                        <li><a href="/login">Cart</a></li>
                        <li><a href="/login">Wishlist</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>HELP</h6>
                    <ul>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    function addCart(proId) {
        $.ajax({
            url: `/add-to-cart/${proId}`,
            method: 'get',
            success: (response) => {
                if (response.added) {
                    $('#cart').load(`${location.href} #cart`);
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Added to Cart',
                        showConfirmButton: false,
                        timer: 1400
                    })
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Login not Found!',
                        footer: '<a href="/login">Pleas Login?</a>'
                    })
                }
            }
        })
    }

    function addWishlist(proId) {
        $.ajax({
            url: `/add-to-wishlist/${proId}`,
            method: 'get',
            success: (response) => {
                if (response.added) {
                    $('#wishlist').load(`${location.href} #wishlist`);
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Added to Wishlist',
                        showConfirmButton: false,
                        timer: 1400
                    })
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Login not Found!',
                        footer: '<a href="/login">Pleas Login?</a>'
                    })
                }
            }
        })
    }
</script>