<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background: #ffffff;
  }

  .wrapper {
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: rgb(255, 246, 246);
    border-radius: 0px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 2rem;
    color: #07001f;
  }

  p {
    margin-bottom: 1.7rem;
  }

  form input {
    width: 85%;
    outline: none;
    border: none;
    background: #f3fdff;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 0px;
  }

  .recover {
    text-align: right;
    font-size: 0.8rem;
    margin: 0.2rem 1.7rem 0 0;
  }

  .recover a {
    text-decoration: none;
    color: #07001f;
  }

  button {
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 8px 0;
    border-radius: 0px;
    outline: none;
    border: none;
    width: 85%;
    background: black;
    color: #fff;
    cursor: pointer;
  }

  button:hover {
    background: rgba(181, 168, 187, 0.767);
  }

  .or {
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }

  .icons i {
    color: #07001f;
    padding: 00.8rem 1.5rem;
    border-radius: 10px;
    margin-left: .9rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
  }

  .icons i:hover {
    color: #fff !important;
    background: #07001f;
    transition: 1s;
  }

  .icons i:first-child {
    color: green;
  }

  .icons i:last-child {
    color: blue;
  }

  .not-member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
  }

  .not-member a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>

<section>
  <div class="wrapper">
    <form action="/login" method="post" id="login">
      <h1>Sign in</h1><br>

      <div class="input-control">
        <input type="text" name="email" id="email" placeholder="Enter email" required>
        <div class="error"></div>
      </div>

      <div class="input-control">
        <input type="password" name="password" id="password" placeholder="Enter password" minlength="4" required>
        <div class="error"></div>
      </div>
      {{!-- <p class="recover">
        <a href="#">Forgot password ?</a>
      </p> --}}
      <a><button type="submit">Sign in</button></a>
    </form>
    <a href="/signup"><button>Become a member</button></a>

  </div>
</section>

<script>
  $("#login").validate()
</script>